/* File: gui.css
 *
 * Contains style properties for the game GUI and Menus.
 */


/* Style properties for all game GUI elements. */
.gui_element {
    position: absolute;
}


/* Style properties for GUI buttons. */
.gui_button {
    color: blue;
}


/* Style properties for GUI labels. */
.gui_label {
    font-family: "MainFont";
    color: white;
}
.gui_label_title {
    color: yellow;
}
.gui_label_credit {
    color: blue;
}